.container {
    display: grid;   
}
.container img{
    height: 100%;
    width: 80%;
    padding: 0px 0px 0px 50px;
}

body{
    background-color :white ;
    font-family: "Roboto", Arial, serif;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 300;
}
li {
    list-style: none;
    float: right;
    padding-right:5px;

}
footer {
    padding: 10px 0px;
    font-size: 1.5em;
    text-align: center;
    color: white; 
    background-color:#6699AA; 

}
.table{
    display: grid;
    grid-gap: 10px;
    margin: 20px 0px 0px 0px;
}
.table .box img
{
    width: 400px;
    height: 250px;
}
.table .box .btn a span
{
    color: white;
	background-color: #6699AA;
	border: none;
	border-radius: 8px;
	display: inline-block;
	padding: 20px 30px;
}

.nav-item.active .nav-link,
.nav-link:focus {
    background-color:#88BBDD;
}
.navbar-nav .nav-link {
	border-radius: 6px;
	color: white ;
    padding: 10px 20px;
}
#tmNavbar {
    background-image:url(https://media0.giphy.com/media/icHYcFh2VbAMo/giphy.gif) ;
    background-color:#6699AA; 
    padding: 20px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    
}
.text{
    font-family: 'Mali', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Sarabun', sans-serif;
    padding: 0px 0px 0px 15px;
    border: 3px solid white;
}
.img{
    padding: 0px 0px 5px 0px;
}
#content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
/*เป็นการกำหนด responsive design*/
@media screen and (max-width : 800px)
{
    .container {
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (min-width : 800px)
{
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

